body{
  padding: 80px 0 0 0;
}

#lgsu{
    padding: 5px 0;

}
#logo{
font-size: 35px;
}
#lgsubtn{
    margin: 2px 2px 2px 4px;
}
:root {
    --main-bg-color: #009d63;
    --main-text-color: #009d63;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
  }
  
  .primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }
  
  #wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
      to right,
      #baf3d7,
      #c2f5de,
      #cbf7e4,
      #d4f8ea,
      #ddfaef
    );
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  

@media (max-width:992px){
 
  body{
    padding:55px 0 0 0;
  }
  #logo{
    font-size: 20px;
  }

#lgsubtn{
  margin: 4px 2px 2px 0px;
}
#sidebar{
    padding: 5px;
    width: 25%;
}

}

@media (max-width:660px){
    #sidebar{
      
      width: 100%;
        
    }
    #main_items{
        display: flex;
        flex-direction: column;
    }


}
footer{
  overflow: hidden;
}
@media (max-width:500px){
  body{
    padding: 55px 0 0 0;
  }
 
  #logo{
    font-size: 18px;

    font-weight: 900;

  }
  .container{
    overflow:scroll;
  }
  footer .row{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  footer .row .col-2{
    min-width: 120px;
  }
  footer .row .col-4{
    margin-left: 0;
    width: 100%;
  }


  }
  
  .modal-dialog{
    max-width: 90%;
  }
  @media (max-width:650px){
    .modal-dialog{
      margin: 0.5rem auto;
      max-width: 95%;
    }
    .edit_profile_button{
      position: absolute;
      bottom: 5px;
      text-align: right;
    }
    .profile_image,.profile-img{
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
    }




    }

  













